*.swp
_site/
.grunt
node_modules
_site
_SpecRunner.html

# build artifacts
js/bootstrap-timepicker.min.js
css/bootstrap-timepicker.css
css/bootstrap-timepicker.min.css

# bower artifacts for test
spec/js/libs
